@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#__next,
.main,
body,
html {
  background-color: var(--colors-scale2);
  --tw-text-opacity: 1;
  color: hsl(var(--foreground-default) / var(--tw-text-opacity));
  height: 100%;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.parent {
  height: 100px;
  display: flex;
  align-items: center;
}

.parent[data-isOpen="true"] {
  height: auto;
  padding: 32px;
}
.parent[data-isOpen="true"] .child {
  position: absolute;
  right: 10px;
  top: 10px;
}

.parent[data-isOpen="true"] .child .visa-image {
  max-width: 50px;
}

.parent[data-isOpen="true"] .child .visa-title {
  font-size: 25px;
}

.child {
  height: auto;
  position: absolute;
  width: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /*  */

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 203 63% 50%;
    --primary-foreground: 10 100% 100%;

    --secondary: 38 92% 54%;
    --secondary-foreground: 198 36% 21% 0.3;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;

    --radius: 0.5rem;
    --card-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    --swiper-pagination-color: white;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.6;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 95%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 10 100% 50%;
    --primary-foreground: 10 100% 50% 0.3;

    --secondary: 198 36% 21%;
    --secondary-foreground: 198 36% 21% 0.3;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 3.7% 15.9%;
    --input: 0 0% 80%;
    --ring: 142.4 71.8% 29.2%;

    --radius: 0.5rem;
    --card-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --colors-gray1: #161616;
    --colors-gray2: #1c1c1c;
    --colors-gray3: #232323;
    --colors-gray4: #282828;
    --colors-gray5: #2e2e2e;
    --colors-gray6: #343434;
    --colors-gray7: #3e3e3e;
    --colors-gray8: #505050;
    --colors-gray9: #707070;
    --colors-gray10: #7e7e7e;
    --colors-gray11: #a0a0a0;
    --colors-gray12: #ededed;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0) scale(1);
  }

  to {
    transform: translateY(-50px);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.overflow-visible-important {
  overflow: visible !important;
}
